{% extends 'store/base.html' %}
{% block content %}


<div class="bg-white">
    <div class="pb-16 pt-6 sm:pb-24">
      <nav aria-label="Breadcrumb" class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <ol role="list" class="flex items-center space-x-4">
          <li>
            <div class="flex items-center">
              <a href="#" class="mr-4 text-sm font-medium text-gray-900">Clothing</a>
              <svg viewBox="0 0 6 20" aria-hidden="true" class="h-5 w-auto text-gray-300">
                <path d="M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z" fill="currentColor" />
              </svg>
            </div>
          </li>
  
          <li class="text-sm">
            <a href="#" aria-current="page" class="font-medium text-gray-500 hover:text-gray-600">{{product.name}}</a>
          </li>
        </ol>
      </nav>
      <div class="mx-auto mt-8 max-w-2xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
        <div class="lg:grid lg:auto-rows-min lg:grid-cols-12 lg:gap-x-8">
          <div class="lg:col-span-5 lg:col-start-8">
            <div class="flex justify-between">
              <h1 class="text-xl font-medium text-gray-900">{{product.name}}</h1>
              <p class="text-xl font-medium text-gray-900">&#8358;{{product.price}}</p>
            </div>
            
          </div>
  
          <!-- Image gallery -->
          <div class="mt-8 lg:col-span-7 lg:col-start-1 lg:row-span-3 lg:row-start-1 lg:mt-0">
            <h2 class="sr-only">Images</h2>
  
            <div class="grid grid-cols-1 lg:grid-cols-1 lg:grid-rows-1 lg:gap-8">
                <img src="{{product.imageURL}}" alt="Back of women&#039;s Basic Tee in black." class="rounded-lg lg:col-span-2 lg:row-span-2">
            </div>
          </div>
  
          <div class="mt-8 lg:col-span-5">
  
              <button data-product="{{product.id}}" data-action="add" class="update-cart mt-8 flex w-full items-center justify-center rounded-md border border-transparent bg-orange-600 px-8 py-3 text-base font-medium text-white hover:bg-orange-700 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2">Add to cart</button>
  
            <!-- Product details -->
            <div class="mt-10">
              <h2 class="text-sm font-medium text-gray-900">Description</h2>
  
              <div class="prose prose-sm mt-4 text-gray-500">
                <p>{{product.description}}</p>
              </div>
            </div>
  
  
            
          </div>
        </div>
      </div>
    </div>
  </div>
  


{% endblock %}